body {
    background-color: var(--brand-primary);
    font-family: 'Quicksand', sans-serif;
}

h1 {
    padding: 20px;
    text-align: center;
}
h3{
    padding: 17px;
    text-align: center;
}
p{
    padding: 17px;
    text-align: center;
}
.us-pic{
    text-align: center;
}

label {
    display: block;
}

li {
    margin-left: 2rem;
}

input,
textarea {
    border-radius: 10px;
}

.stay-green-pic {
    width: 50%;
    height: 200px;
    margin: auto;
}

.about-us-pic{
    width: 40%;
    height: 30%;
}