.green-text {
    color: var(--brand-primary);
    padding-top: 20px;
}

.gradient-bg {
    background: linear-gradient(
            285deg,
            rgb(46, 182, 48) 0%,
            rgba(93, 150, 38, 1) 50%,
            rgba(13, 102, 14, 1) 100%
    );
}
