.green-text {
    color: var(--brand-primary);
}

.carousel-inner {
    width: 100% !important;
    height: 60vh;
    text-align: center;
}

.about-me {
    background-color: white;
    color: var(--brand-primary);
}

#carouselExampleIndicators {
    width: 30% !important;
    height: 60vh;
}

.contact-me {
    background-color: var(--brand-primary);
    text-align: center;
}

