body {
    background-color: var(--brand-primary);
}

h1 {
    padding: 20px;
    text-align: center;

}

.header {
    background-color: var(--header-background);
    
}

.staying-green{
    padding: 5%;
}

.header-pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
}

.header-img{
    /* border-radius: 50%; */
    height: 25%;
    width: 50%;
}